# Data Preprocessing and Cleaning
---
##### This notebook demonstrates data preprocessing steps for a large-scale dataset, including:

<div align="center">
    <img src="HEADER_1.jpeg" alt="Image Description" width="2500">
</div>

---
##### The aim is to ensure data quality and integrity for accurate analysis.

### **Importing Libraries and Loading the Dataset**
- **Libraries**: `pandas`
- **Dataset**: `usecase_3_.csv`, `drop_withdrawals.txt`, `eligibilities.txt`, `facilities.txt`, `reported_events.txt`

In [1]:
# Import necessary libraries
import pandas as pd

In [3]:
# Load dataset
df=pd.read_csv('usecase_3_.csv')

In [4]:
df.head()

,Unnamed: 0.1,Unnamed: 0,NCT Number,Study Title,Study URL,Acronym,Study Status,Brief Summary,Study Results,Conditions,...,Study Design,Other IDs,Start Date,Primary Completion Date,Completion Date,First Posted,Results First Posted,Last Update Posted,Locations,Study Documents
0,75209,118014,NCT00559130,Efficacy Study of CytoSorb Hemoperfusion Devic...,https://clinicaltrials.gov/study/NCT00559130,NaN,COMPLETED,The hypothesis of this study is use of CytoSor...,NO,Acute Respiratory Distress Syndrome|Acute Lung...,...,Allocation: RANDOMIZED|Intervention Model: PAR...,2007-01,2007-11,2011-04,2011-06,2007-11-16,NaN,2011-06-07,"Aachen, Germany|Berlin, Germany|Bonn, Germany|...",NaN
1,6356,9987,NCT00937664,Safety and Tolerability Study of AZD7762 in Co...,https://clinicaltrials.gov/study/NCT00937664,NaN,TERMINATED,The primary purpose of this study is to find o...,NO,Cancer|Solid Tumors|Advanced Solid Malignancies,...,Allocation: NON_RANDOMIZED|Intervention Model:...,D1040C00008,2009-07,2011-02,2011-02,2009-07-13,NaN,2011-02-07,"Research Site, Minami-ku, Fukuoka, Japan",NaN
2,143427,226012,NCT00441597,Does Atorvastatin Reduce Ischemia-Reperfusion ...,https://clinicaltrials.gov/study/NCT00441597,NaN,COMPLETED,To study the impact of 3 day exposure to atorv...,NO,Ischemia Reperfusion Injury|Cardiovascular Dis...,...,Allocation: RANDOMIZED|Intervention Model: CRO...,atorv01,2007-02,2009-02,2009-03,2007-03-01,NaN,2009-03-17,"Radboud University Nijmegen Medical Centre, Ni...",NaN
3,138885,218952,NCT03296228,Comparison of Dynamic Radiographs in Determini...,https://clinicaltrials.gov/study/NCT03296228,NaN,COMPLETED,The purpose of this study is to identify the f...,NO,Adolescent Idiopathic Scoliosis,...,Observational Model: |Time Perspective: p,UW 16-208,2016-05-01,2018-05-01,2018-12-31,2017-09-28,NaN,2020-05-06,"Duchess of Kent Children's Hospital, Hong Kong...",NaN
4,9769,15382,NCT00421603,A Placebo-Controlled Study of Mixed Amphetamin...,https://clinicaltrials.gov/study/NCT00421603,TACT,COMPLETED,"The proposed protocol is a double-blind, place...",YES,Cocaine Dependence,...,Allocation: RANDOMIZED|Intervention Model: PAR...,#5368|R01DA022217,2007-02,2010-05,2010-05,2007-01-12,2013-02-28,2019-04-24,"STARS, New York, New York, 10032, United States",NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257577 entries, 0 to 257576
Data columns (total 32 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Unnamed: 0.1                257577 non-null  int64
 1   Unnamed: 0                  257577 non-null  int64
 2   NCT Number                  257577 non-null  object
 3   Study Title                 257577 non-null  object
 4   Study URL                   257577 non-null  object
 5   Acronym                     63991 non-null   object
 6   Study Status                257577 non-null  object
 7   Brief Summary               257577 non-null  object
 8   Study Results               257577 non-null  object
 9   Conditions                  257577 non-null  object
 10  Interventions               234064 non-null  object
 11  Primary Outcome Measures    247086 non-null  object
 12  Secondary Outcome Measures  185779 non-null  object
 13  Other Outcome Measures      18272 non-null   object
 14  Sponsor                     257577 non-null  object
 15  Collaborators               83679 non-null   object
 16  Sex                         257317 non-null  object
 17  Age                         257577 non-null  object
 18  Phases                      112765 non-null  object
 19  Enrollment                  254205 non-null  float64
 20  Funder Type                 257577 non-null  object
 21  Study Type                  257577 non-null  object
 22  Study Design                257577 non-null  object
 23  Other IDs                   257556 non-null  object
 24  Start Date                  255245 non-null  object
 25  Primary Completion Date     244673 non-null  object
 26  Completion Date             249686 non-null  object
 27  First Posted                257577 non-null  object
 28  Results First Posted        51581 non-null   object
 29  Last Update Posted          257577 non-null  object
 30  Locations                   233966 non-null  object
 31  Study Documents             25155 non-null   object
dtypes: float64(1), int64(2), object(29)
memory usage: 62.9+ MB

# **Data preprocessing**
---
Data preprocessing is an essential step in any data science, machine learning, or analytics project.
Raw data, as collected from various sources, is often incomplete, inconsistent, and may contain errors.
Preprocessing transforms this raw data into a clean, consistent, and analyzable format.
This step ensures the quality and integrity of data, directly influencing the accuracy and reliability of the results.

### **Why is Data Preprocessing Important?**
---
**1. Improved Data Quality**: High-quality data is critical for meaningful insights and model performance. Preprocessing addresses errors, outliers, and inconsistencies that may otherwise skew results.

**2. Enhanced Model Performance**: Clean and normalized data helps machine learning algorithms converge faster and achieve better predictive accuracy. Unprocessed data often contains noise, missing values, and irrelevant information, making models less effective.

**3. Ensures Consistency**: Combining data from multiple sources can lead to discrepancies, such as varying formats, units, or naming conventions. Preprocessing aligns these differences for seamless integration and analysis.

## **Handling Duplicate and Missing Values**
---
- This step involves cleaning the dataset by removing duplicate rows to prevent redundant data and filling or removing missing values to ensure consistency and integrity in the analysis.
- Techniques such as dropping duplicates, imputing missing values with statistical measures, or using forward/backward fill are applied.

In [9]:
# Identify and handle duplicate rows
df[df.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0.1, Unnamed: 0, NCT Number, Study Title, Study URL, Acronym, Study Status, Brief Summary, Study Results, Conditions, Interventions, Primary Outcome Measures, Secondary Outcome Measures, Other Outcome Measures, Sponsor, Collaborators, Sex, Age, Phases, Enrollment, Funder Type, Study Type, Study Design, Other IDs, Start Date, Primary Completion Date, Completion Date, First Posted, Results First Posted, Last Update Posted, Locations, Study Documents]
Index: []

[0 rows x 32 columns]

In [10]:
# Check for missing values in the dataset
df.isnull().sum()

Unnamed: 0.1                       0
Unnamed: 0                         0
NCT Number                         0
Study Title                        0
Study URL                          0
Acronym                       193586
Study Status                       0
Brief Summary                      0
Study Results                      0
Conditions                         0
Interventions                  23513
Primary Outcome Measures       10491
Secondary Outcome Measures     71798
Other Outcome Measures        239305
Sponsor                            0
Collaborators                 173898
Sex                              260
Age                                0
Phases                        144812
Enrollment                      3372
Funder Type                        0
Study Type                         0
Study Design                       0
Other IDs                         21
Start Date                      2332
Primary Completion Date        12904
Completion Date                 7891
First Posted                       0
Results First Posted          205996
Last Update Posted                 0
Locations                      23611
Study Documents               232422
dtype: int64

In [13]:
# Drop irrelevant columns to streamline the dataset
df.drop(['Unnamed: 0.1','Unnamed: 0','Study Title','Study URL','Acronym','Brief Summary','Conditions','Interventions',
         'Primary Outcome Measures','Secondary Outcome Measures','Other Outcome Measures','Sponsor','Collaborators','Phases',
         'Study Design','Other IDs','Start Date','Primary Completion Date','Completion Date','First Posted','Results First Posted',
         'Last Update Posted','Locations','Study Documents'],axis=1,inplace=True)

In [15]:
df.head()

,NCT Number,Study Status,Study Results,Sex,Age,Enrollment,Funder Type,Study Type
0,NCT00559130,COMPLETED,NO,ALL,"ADULT, OLDER_ADULT",100.0,INDUSTRY,INTERVENTIONAL
1,NCT00937664,TERMINATED,NO,ALL,"ADULT, OLDER_ADULT",24.0,INDUSTRY,INTERVENTIONAL
2,NCT00441597,COMPLETED,NO,MALE,ADULT,30.0,OTHER,INTERVENTIONAL
3,NCT03296228,COMPLETED,NO,ALL,"CHILD, ADULT",134.0,OTHER,OBSERVATIONAL
4,NCT00421603,COMPLETED,YES,ALL,ADULT,81.0,OTHER,INTERVENTIONAL

In [17]:
# Check for missing values in the dataset
df.isnull().sum()

NCT Number          0
Study Status        0
Study Results       0
Sex               260
Age                 0
Enrollment       3372
Funder Type         0
Study Type          0
dtype: int64

In [19]:
# Drop Rows with missing values
df.dropna(inplace=True)

In [21]:
# Display the shape of the dataset to track changes
df.shape

(253971, 8)

In [23]:
# Load dataset drop_withdrawls
drop_withdrawals = pd.read_csv('drop_withdrawals.txt', sep='|')

In [25]:
drop_withdrawals.head()

,id,nct_id,result_group_id,ctgov_group_code,period,reason,count,drop_withdraw_comment,reason_comment,count_units
0,5991139,NCT00827372,9120733,FG000,Overall Study,Adverse Event,5,NaN,NaN,NaN
1,5991140,NCT00827372,9120733,FG000,Overall Study,Lack of Efficacy,3,NaN,NaN,NaN
2,5991141,NCT01982760,9120734,FG000,Overall Study,Physician Decision,1,NaN,NaN,NaN
3,5991142,NCT01982760,9120735,FG001,Overall Study,Physician Decision,0,NaN,NaN,NaN
4,5991143,NCT01056276,9120736,FG000,Treatment Period-Cycles 1-8,Toxicity,2,NaN,NaN,NaN

In [27]:
drop_withdrawals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 487399 entries, 0 to 487398
Data columns (total 10 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     487399 non-null  int64
 1   nct_id                 487399 non-null  object
 2   result_group_id        487399 non-null  int64
 3   ctgov_group_code       487399 non-null  object
 4   period                 487399 non-null  object
 5   reason                 487399 non-null  object
 6   count                  487399 non-null  int64
 7   drop_withdraw_comment  0 non-null       float64
 8   reason_comment         0 non-null       float64
 9   count_units            0 non-null       float64
dtypes: float64(3), int64(3), object(4)
memory usage: 37.2+ MB

In [29]:
# Identify and handle duplicate rows
drop_withdrawals[drop_withdrawals.duplicated()].shape

(0, 10)

In [31]:
# Display the shape of the dataset to track changes
drop_withdrawals.shape

(487399, 10)

In [33]:
# Check for missing values in the dataset
drop_withdrawals.isnull().sum()

id                            0
nct_id                        0
result_group_id               0
ctgov_group_code              0
period                        0
reason                        0
count                         0
drop_withdraw_comment    487399
reason_comment           487399
count_units              487399
dtype: int64

In [35]:
# Drop irrelevant columns to streamline the dataset
drop_withdrawals.drop(['id','result_group_id','ctgov_group_code','period','reason','drop_withdraw_comment','reason_comment',
                       'count_units'],axis=1,inplace=True)

In [37]:
drop_withdrawals.head()

        nct_id  count
0  NCT00827372      5
1  NCT00827372      3
2  NCT01982760      1
3  NCT01982760      0
4  NCT01056276      2

In [39]:
# Check for missing values in the dataset
drop_withdrawals.isnull().sum()

nct_id    0
count     0
dtype: int64

In [41]:
# Display the shape of the dataset to track changes
drop_withdrawals.shape

(487399, 2)

In [43]:
# Load dataset eligibilities
eligibilities = pd.read_csv('eligibilities.txt', sep='|')

In [45]:
eligibilities

,id,nct_id,sampling_method,gender,minimum_age,maximum_age,healthy_volunteers,population,criteria,gender_description,gender_based,adult,child,older_adult
0,6260055,NCT05050916,NaN,FEMALE,19 Years,40 Years,f,NaN,* INCLUSION CRITERIA:~In order to be eligible ...,NaN,NaN,t,f,f
1,6260056,NCT01092156,NaN,FEMALE,18 Years,NaN,t,NaN,Inclusion Criteria:~* Pregnant women who inten...,NaN,NaN,t,f,t
2,6260057,NCT01218256,NaN,ALL,30 Years,80 Years,f,NaN,Inclusion Criteria:~* type 2 diabetes mellitus...,NaN,NaN,t,f,t
3,6260058,NCT03240432,NaN,ALL,60 Years,NaN,t,NaN,Inclusion Criteria:~To be eligible for the stu...,NaN,NaN,t,f,t
4,6260059,NCT04348578,NaN,ALL,18 Years,65 Years,t,NaN,"Inclusion Criteria:~* necrotic, single root te...",NaN,NaN,t,f,t
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502296,6259966,NCT02723058,NaN,FEMALE,18 Years,NaN,f,NaN,Inclusion Criteria:~* Mothers who are residing...,NaN,NaN,t,f,t
502297,6259967,NCT05832216,NaN,ALL,12 Years,NaN,f,NaN,Inclusion Criteria:~* Diagnosis of aplastic an...,NaN,NaN,t,t,t
502298,6259968,NCT05199597,NaN,ALL,18 Years,NaN,t,NaN,Inclusion Criteria:~* 18 years and older~Exclu...,NaN,NaN,t,f,t
502299,6259969,NCT01583283,NaN,ALL,18 Years,NaN,f,NaN,Inclusion Criteria:~* Relapsed or Relapsed/Ref...,NaN,NaN,t,f,t
502300,6259970,NCT01394783,NaN,ALL,NaN,1 Year,f,NaN,Inclusion Criteria:~* Trainees: All residents ...,NaN,NaN,f,t,f

In [47]:
eligibilities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502301 entries, 0 to 502300
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  502301 non-null  int64
 1   nct_id              502301 non-null  object
 2   sampling_method     111512 non-null  object
 3   gender              501870 non-null  object
 4   minimum_age         469401 non-null  object
 5   maximum_age         266189 non-null  object
 6   healthy_volunteers  489578 non-null  object
 7   population          111500 non-null  object
 8   criteria            502210 non-null  object
 9   gender_description  9254 non-null    object
 10  gender_based        13901 non-null   object
 11  adult               502301 non-null  object
 12  child               502301 non-null  object
 13  older_adult         502301 non-null  object
dtypes: int64(1), object(13)
memory usage: 53.7+ MB

In [49]:
# Identify and handle duplicate rows
eligibilities[eligibilities.duplicated()].shape

(0, 14)

In [50]:
# Check for missing values in the dataset
eligibilities.isnull().sum()

id                         0
nct_id                     0
sampling_method       390789
gender                   431
minimum_age            32900
maximum_age           236112
healthy_volunteers     12723
population            390801
criteria                  91
gender_description    493047
gender_based          488400
adult                      0
child                      0
older_adult                0
dtype: int64

In [53]:
# Display the shape of the dataset to track changes
eligibilities.shape

(502301, 14)

In [55]:
# Drop irrelevant columns to streamline the dataset
eligibilities.drop(['id','sampling_method','minimum_age','maximum_age','population','criteria','gender_description',
                    'gender_based'],axis=1,inplace=True)

In [63]:
eligibilities.head()

        nct_id  gender healthy_volunteers adult child older_adult
0  NCT05050916  FEMALE                  f     t     f           f
1  NCT01092156  FEMALE                  t     t     f           t
2  NCT01218256     ALL                  f     t     f           t
3  NCT03240432     ALL                  t     t     f           t
4  NCT04348578     ALL                  t     t     f           t

In [65]:
# Check for missing values in the dataset
eligibilities.isnull().sum()

nct_id                    0
gender                  431
healthy_volunteers    12723
adult                     0
child                     0
older_adult               0
dtype: int64

In [67]:
# Drop Rows with missing values
eligibilities.dropna(inplace=True)

In [69]:
# Display the shape of the dataset to track changes
eligibilities.shape

(489349, 6)

In [71]:
# Load dataset facilities
facilities = pd.read_csv('facilities.txt', sep='|')

In [73]:
facilities.head()

,id,nct_id,status,name,city,state,zip,country
0,39182239,NCT02696421,RECRUITING,Imperial College London Diabetes Centre,Abu Dhabi,NaN,48338,United Arab Emirates
1,39182240,NCT01324414,NaN,Mayo Clinic,Phoenix,Arizona,85054,United States
2,39182241,NCT02595814,NaN,Novartis Investigative Site,San Diego,California,92103,United States
3,39182242,NCT02595814,NaN,Novartis Investigative Site,San Francisco,California,94143-0780,United States
4,39182243,NCT02595814,NaN,Novartis Investigative Site,Chicago,Illinois,60611,United States

In [75]:
facilities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3085464 entries, 0 to 3085463
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   id       int64
 1   nct_id   object
 2   status   object
 3   name     object
 4   city     object
 5   state    object
 6   zip      object
 7   country  object
dtypes: int64(1), object(7)
memory usage: 188.3+ MB

In [77]:
# Check for missing values in the dataset
facilities.isnull().sum()

id               0
nct_id           0
status     2602515
name        220029
city           106
state      1239838
zip         605357
country        106
dtype: int64

In [79]:
# Display the shape of the dataset to track changes
facilities.shape

(3085464, 8)

In [81]:
# Identify and handle duplicate rows
facilities[facilities.duplicated].shape

(0, 8)

In [83]:
# Drop irrelevant columns to streamline the dataset
facilities.drop(['id','name','state','country','zip','city'],axis=1,inplace=True)

In [85]:
facilities.head()

        nct_id
0  NCT02696421
1  NCT01324414
2  NCT02595814
3  NCT02595814
4  NCT02595814

In [87]:
# Check for missing values in the dataset
facilities.isnull().sum()

nct_id    0
dtype: int64

In [89]:
facilities.dropna(inplace=True)

In [91]:
# Display the shape of the dataset to track changes
facilities.shape

(3085464, 1)

In [45]:
# Load dataset reported_events
reported_events = pd.read_csv('reported_events.txt', sep='|')

In [46]:
reported_events

,id,nct_id,result_group_id,ctgov_group_code,time_frame,event_type,default_vocab,default_assessment,subjects_affected,subjects_at_risk,description,event_count,organ_system,adverse_event_term,frequency_threshold,vocab,assessment
0,111888450,NCT03978520,8932081,EG002,All-cause mortality is reported from enrollmen...,other,NaN,NaN,4.0,62,TEAEs and SAEs were collected from first dose ...,4.0,Psychiatric disorders,INSOMNIA,5,MedDRA 25.0,SYSTEMATIC_ASSESSMENT
1,111888451,NCT03978520,8932082,EG003,All-cause mortality is reported from enrollmen...,other,NaN,NaN,0.0,69,TEAEs and SAEs were collected from first dose ...,0.0,Psychiatric disorders,INSOMNIA,5,MedDRA 25.0,SYSTEMATIC_ASSESSMENT
2,111888452,NCT03978520,8932083,EG004,All-cause mortality is reported from enrollmen...,other,NaN,NaN,0.0,67,TEAEs and SAEs were collected from first dose ...,0.0,Psychiatric disorders,INSOMNIA,5,MedDRA 25.0,SYSTEMATIC_ASSESSMENT
3,111888453,NCT03978520,8932079,EG000,All-cause mortality is reported from enrollmen...,other,NaN,NaN,1.0,75,TEAEs and SAEs were collected from first dose ...,2.0,Skin and subcutaneous tissue disorders,ACNE,5,MedDRA 25.0,SYSTEMATIC_ASSESSMENT
4,111888454,NCT03978520,8932080,EG001,All-cause mortality is reported from enrollmen...,other,NaN,NaN,4.0,68,TEAEs and SAEs were collected from first dose ...,4.0,Skin and subcutaneous tissue disorders,ACNE,5,MedDRA 25.0,SYSTEMATIC_ASSESSMENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9284462,117455296,NCT03535727,9370737,EG004,All-Cause Mortality was assessed for up to 51 ...,serious,NaN,NaN,2.0,6,This study used the descriptions and grading s...,2.0,Vascular disorders,Thromboembolic event,5,NaN,SYSTEMATIC_ASSESSMENT
9284463,117455297,NCT03535727,9370738,EG005,All-Cause Mortality was assessed for up to 51 ...,serious,NaN,NaN,1.0,3,This study used the descriptions and grading s...,1.0,Vascular disorders,Thromboembolic event,5,NaN,SYSTEMATIC_ASSESSMENT
9284464,117455298,NCT03535727,9370739,EG006,All-Cause Mortality was assessed for up to 51 ...,serious,NaN,NaN,0.0,3,This study used the descriptions and grading s...,0.0,Vascular disorders,Thromboembolic event,5,NaN,SYSTEMATIC_ASSESSMENT
9284465,117455299,NCT03535727,9370740,EG007,All-Cause Mortality was assessed for up to 51 ...,serious,NaN,NaN,0.0,7,This study used the descriptions and grading s...,0.0,Vascular disorders,Thromboembolic event,5,NaN,SYSTEMATIC_ASSESSMENT
9284466,117455300,NCT03535727,9370741,EG008,All-Cause Mortality was assessed for up to 51 ...,serious,NaN,NaN,2.0,8,This study used the descriptions and grading s...,2.0,Vascular disorders,Thromboembolic event,5,NaN,SYSTEMATIC_ASSESSMENT

In [47]:
reported_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9284467 entries, 0 to 9284466
Data columns (total 17 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   nct_id               object
 2   result_group_id      int64
 3   ctgov_group_code     object
 4   time_frame           object
 5   event_type           object
 6   default_vocab        float64
 7   default_assessment   float64
 8   subjects_affected    float64
 9   subjects_at_risk     int64
 10  description          object
 11  event_count          float64
 12  organ_system         object
 13  adverse_event_term   object
 14  frequency_threshold  int64
 15  vocab                object
 16  assessment           object
dtypes: float64(4), int64(4), object(9)
memory usage: 1.2+ GB

In [48]:
# Check for missing values in the dataset
reported_events.isnull().sum()

id                           0
nct_id                       0
result_group_id              0
ctgov_group_code             0
time_frame             1424796
event_type                   0
default_vocab          9284467
default_assessment     9284467
subjects_affected        71785
subjects_at_risk             0
description            3331634
event_count            5401070
organ_system                 0
adverse_event_term         308
frequency_threshold          0
vocab                   980888
assessment              257320
dtype: int64

In [49]:
# Display the shape of the dataset to track changes
reported_events.shape

(9284467, 17)

In [50]:
# Identify and handle duplicate rows
reported_events[reported_events.duplicated].shape

(0, 17)

In [51]:
# Drop irrelevant columns to streamline the dataset
reported_events.drop(['id','result_group_id','ctgov_group_code','adverse_event_term','time_frame','default_vocab',
                      'default_assessment','description','adverse_event_term','vocab'],axis=1,inplace=True)

In [52]:
reported_events.head()

,nct_id,event_type,subjects_affected,subjects_at_risk,event_count,organ_system,frequency_threshold,assessment
0,NCT03978520,other,4.0,62,4.0,Psychiatric disorders,5,SYSTEMATIC_ASSESSMENT
1,NCT03978520,other,0.0,69,0.0,Psychiatric disorders,5,SYSTEMATIC_ASSESSMENT
2,NCT03978520,other,0.0,67,0.0,Psychiatric disorders,5,SYSTEMATIC_ASSESSMENT
3,NCT03978520,other,1.0,75,2.0,Skin and subcutaneous tissue disorders,5,SYSTEMATIC_ASSESSMENT
4,NCT03978520,other,4.0,68,4.0,Skin and subcutaneous tissue disorders,5,SYSTEMATIC_ASSESSMENT

In [53]:
# Check for missing values in the dataset
reported_events.isnull().sum()

nct_id                       0
event_type                   0
subjects_affected        71785
subjects_at_risk             0
event_count            5401070
organ_system                 0
frequency_threshold          0
assessment              257320
dtype: int64

In [54]:
# Drop Rows with missing valuesr
reported_events.dropna(inplace=True)

In [55]:
# Display the shape of the dataset to track changes
reported_events.shape

(3770046, 8)

In [56]:
df.head(1)

,NCT Number,Study Status,Study Results,Sex,Age,Enrollment,Funder Type,Study Type
0,NCT00559130,COMPLETED,NO,ALL,"ADULT, OLDER_ADULT",100.0,INDUSTRY,INTERVENTIONAL

In [57]:
df['Study Status'].value_counts()

Study Status
COMPLETED     217871
TERMINATED     23291
WITHDRAWN      11493
SUSPENDED       1316
Name: count, dtype: int64

In [58]:
facilities.head(1)

        nct_id      status
0  NCT02696421  RECRUITING

In [59]:
reported_events.head(1)

,nct_id,event_type,subjects_affected,subjects_at_risk,event_count,organ_system,frequency_threshold,assessment
0,NCT03978520,other,4.0,62,4.0,Psychiatric disorders,5,SYSTEMATIC_ASSESSMENT

In [60]:
eligibilities.head(1)

        nct_id  gender healthy_volunteers adult child older_adult
0  NCT05050916  FEMALE                  f     t     f           f

In [61]:
drop_withdrawals.head(1)

        nct_id  count
0  NCT00827372      5

## **Merging Multiple Datasets**
---
- Combining data from multiple sources is essential for creating a comprehensive dataset.
- This step merges datasets using keys or common fields while ensuring alignment and avoiding duplication or mismatched records.
- Methods like inner, outer, left, and right joins are utilized.

In [62]:
# Merge datasets to combine relevant information
df_merged1 = df.merge(drop_withdrawals, how='left', left_on='NCT Number', right_on='nct_id')

In [63]:
# Display the shape of the dataset to track changes
df_merged1.shape

(604312, 10)

In [64]:
df_merged1

,NCT Number,Study Status,Study Results,Sex,Age,Enrollment,Funder Type,Study Type,nct_id,count
0,NCT00559130,COMPLETED,NO,ALL,"ADULT, OLDER_ADULT",100.0,INDUSTRY,INTERVENTIONAL,NaN,NaN
1,NCT00937664,TERMINATED,NO,ALL,"ADULT, OLDER_ADULT",24.0,INDUSTRY,INTERVENTIONAL,NaN,NaN
2,NCT00441597,COMPLETED,NO,MALE,ADULT,30.0,OTHER,INTERVENTIONAL,NaN,NaN
3,NCT03296228,COMPLETED,NO,ALL,"CHILD, ADULT",134.0,OTHER,OBSERVATIONAL,NaN,NaN
4,NCT00421603,COMPLETED,YES,ALL,ADULT,81.0,OTHER,INTERVENTIONAL,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
604307,NCT02360800,COMPLETED,NO,ALL,"CHILD, ADULT, OLDER_ADULT",120.0,OTHER,INTERVENTIONAL,NaN,NaN
604308,NCT02352506,COMPLETED,NO,ALL,"ADULT, OLDER_ADULT",500.0,OTHER,OBSERVATIONAL,NaN,NaN
604309,NCT04996381,COMPLETED,NO,ALL,"ADULT, OLDER_ADULT",505.0,OTHER,OBSERVATIONAL,NaN,NaN
604310,NCT00380640,COMPLETED,NO,ALL,"CHILD, ADULT",10.0,OTHER,INTERVENTIONAL,NaN,NaN
604311,NCT01844336,COMPLETED,NO,ALL,"ADULT, OLDER_ADULT",208.0,INDUSTRY,INTERVENTIONAL,NaN,NaN

In [65]:
df_merged1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 604312 entries, 0 to 604311
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   NCT Number     604312 non-null  object
 1   Study Status   604312 non-null  object
 2   Study Results  604312 non-null  object
 3   Sex            604312 non-null  object
 4   Age            604312 non-null  object
 5   Enrollment     604312 non-null  float64
 6   Funder Type    604312 non-null  object
 7   Study Type     604312 non-null  object
 8   nct_id         381439 non-null  object
 9   count          381439 non-null  float64
dtypes: float64(2), object(8)
memory usage: 46.1+ MB

In [66]:
# Check for missing values in the dataset
df_merged1.isnull().sum()

NCT Number            0
Study Status          0
Study Results         0
Sex                   0
Age                   0
Enrollment            0
Funder Type           0
Study Type            0
nct_id           222873
count            222873
dtype: int64

In [67]:
# Drop Rows with missing values
df_merged1.dropna(inplace=True)

In [68]:
# Check for missing values in the dataset
df_merged1.isnull().sum()

NCT Number       0
Study Status     0
Study Results    0
Sex              0
Age              0
Enrollment       0
Funder Type      0
Study Type       0
nct_id           0
count            0
dtype: int64

In [69]:
df_merged1.head(2)

,NCT Number,Study Status,Study Results,Sex,Age,Enrollment,Funder Type,Study Type,nct_id,count
16,NCT00304083,COMPLETED,YES,ALL,"CHILD, ADULT, OLDER_ADULT",48.0,OTHER,INTERVENTIONAL,NCT00304083,4.0
17,NCT00304083,COMPLETED,YES,ALL,"CHILD, ADULT, OLDER_ADULT",48.0,OTHER,INTERVENTIONAL,NCT00304083,2.0

In [70]:
# Drop irrelevant columns to streamline the dataset
df_merged1.drop(['nct_id'],axis=1,inplace=True)

In [71]:
# Display the shape of the dataset to track changes
df_merged1.shape

(381439, 9)

In [72]:
# Identify and handle duplicate rows
df_merged1[df_merged1.duplicated].shape

(241813, 9)

In [73]:
# Drop duplicate rows
df_merged1.drop_duplicates(subset=None, keep='first', inplace=True)

In [74]:
# Identify and handle duplicate rows
df_merged1[df_merged1.duplicated].shape

(0, 9)

In [75]:
# Display the shape of the dataset to track changes
df_merged1.shape

(139626, 9)

In [76]:
df_merged1['Study Status'].value_counts()

Study Status
COMPLETED     121262
TERMINATED     18359
SUSPENDED          5
Name: count, dtype: int64

In [77]:
# Merge datasets to combine relevant information
df_merged2 = df_merged1.merge(eligibilities, how='left', left_on='NCT Number', right_on='nct_id')

In [78]:
# Display the shape of the dataset to track changes
df_merged2.shape

(139626, 15)

In [79]:
df_merged2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139626 entries, 0 to 139625
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   NCT Number          139626 non-null  object
 1   Study Status        139626 non-null  object
 2   Study Results       139626 non-null  object
 3   Sex                 139626 non-null  object
 4   Age                 139626 non-null  object
 5   Enrollment          139626 non-null  float64
 6   Funder Type         139626 non-null  object
 7   Study Type          139626 non-null  object
 8   count               139626 non-null  float64
 9   nct_id              139501 non-null  object
 10  gender              139501 non-null  object
 11  healthy_volunteers  139501 non-null  object
 12  adult               139501 non-null  object
 13  child               139501 non-null  object
 14  older_adult         139501 non-null  object
dtypes: float64(2), object(13)
memory usage: 16.0+ MB

In [80]:
# Check for missing values in the dataset
df_merged2.isnull().sum()

NCT Number              0
Study Status            0
Study Results           0
Sex                     0
Age                     0
Enrollment              0
Funder Type             0
Study Type              0
count                   0
nct_id                125
gender                125
healthy_volunteers    125
adult                 125
child                 125
older_adult           125
dtype: int64

In [81]:
# Drop irrelevant columns to streamline the dataset
df_merged2.drop(['nct_id'],axis=1,inplace=True)

In [82]:
# Drop Rows with missing values
df_merged2.dropna(inplace=True)

In [83]:
# Display the shape of the dataset to track changes
df_merged2.shape

(139501, 14)

In [84]:
# Identify and handle duplicate rows
df_merged2[df_merged2.duplicated].shape

(0, 14)

In [85]:
df_merged2['Study Status'].value_counts()

Study Status
COMPLETED     121138
TERMINATED     18358
SUSPENDED          5
Name: count, dtype: int64

In [86]:
# Merge datasets to combine relevant information
df_merged3 = df_merged2.merge(facilities, how='left', left_on='NCT Number', right_on='nct_id')

In [87]:
# Display the shape of the dataset to track changes
df_merged3.shape

(139501, 16)

In [88]:
df_merged3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139501 entries, 0 to 139500
Data columns (total 16 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   NCT Number          139501 non-null  object
 1   Study Status        139501 non-null  object
 2   Study Results       139501 non-null  object
 3   Sex                 139501 non-null  object
 4   Age                 139501 non-null  object
 5   Enrollment          139501 non-null  float64
 6   Funder Type         139501 non-null  object
 7   Study Type          139501 non-null  object
 8   count               139501 non-null  float64
 9   gender              139501 non-null  object
 10  healthy_volunteers  139501 non-null  object
 11  adult               139501 non-null  object
 12  child               139501 non-null  object
 13  older_adult         139501 non-null  object
 14  nct_id              0 non-null       object
 15  status              0 non-null       object
dtypes: float64(2), object(14)
memory usage: 17.0+ MB

In [89]:
# Check for missing values in the dataset
df_merged3.isnull().sum()

NCT Number                 0
Study Status               0
Study Results              0
Sex                        0
Age                        0
Enrollment                 0
Funder Type                0
Study Type                 0
count                      0
gender                     0
healthy_volunteers         0
adult                      0
child                      0
older_adult                0
nct_id                139501
status                139501
dtype: int64

In [90]:
# Drop irrelevant columns to streamline the dataset
df_merged3.drop(['status','nct_id'],axis=1,inplace=True)

In [91]:
# Display the shape of the dataset to track changes
df_merged3.shape

(139501, 14)

In [92]:
# Identify and handle duplicate rows
df_merged3[df_merged3.duplicated].shape

(0, 14)

In [93]:
df_merged3['Study Status'].value_counts()

Study Status
COMPLETED     121138
TERMINATED     18358
SUSPENDED          5
Name: count, dtype: int64

## **Splitting Reported_Events Dataset**
---
- The reported_events dataset contains a large number of rows, making it challenging to process all rows and merging them at once.
- To address this, the dataset is split into three approximately equal parts for easier handling and analysis.
- The steps involve calculating the number of rows per part, slicing the dataset accordingly, and appending each part to a list for further use.
- Each part's size is displayed to verify the distribution.

In [94]:
n = len(reported_events)  # Total number of rows
parts = 3  # Number of parts
rows_per_part = n // parts  # Number of rows per part

# Split the DataFrame into 3 parts
dfs = []  # List to store each part
for i in range(parts):
    start = i * rows_per_part
    end = (i + 1) * rows_per_part if i != parts - 1 else n  # Include remaining rows in the last part
    dfs.append(reported_events.iloc[start:end])  # Use 'reported_events' here

# Access the parts
for i, part in enumerate(dfs):
    print(f"Part {i+1} has {len(part)} rows")

Part 1 has 1256682 rows
Part 2 has 1256682 rows
Part 3 has 1256682 rows

In [95]:
part_1 = dfs[0]

In [96]:
# Merge datasets to combine relevant information
df_merged4_1 = df_merged3.merge(part_1, how='left', left_on='NCT Number', right_on='nct_id')

In [97]:
# Display the shape of the dataset to track changes
df_merged4_1.shape

(7434673, 22)

In [98]:
df_merged4_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7434673 entries, 0 to 7434672
Data columns (total 22 columns):
 #   Column               Dtype
---  ------               -----
 0   NCT Number           object
 1   Study Status         object
 2   Study Results        object
 3   Sex                  object
 4   Age                  object
 5   Enrollment           float64
 6   Funder Type          object
 7   Study Type           object
 8   count                float64
 9   gender               object
 10  healthy_volunteers   object
 11  adult                object
 12  child                object
 13  older_adult          object
 14  nct_id               object
 15  event_type           object
 16  subjects_affected    float64
 17  subjects_at_risk     float64
 18  event_count          float64
 19  organ_system         object
 20  frequency_threshold  float64
 21  assessment           object
dtypes: float64(6), object(16)
memory usage: 1.2+ GB

In [99]:
# Identify and handle duplicate rows
df_merged4_1.isnull().sum()

NCT Number                  0
Study Status                0
Study Results               0
Sex                         0
Age                         0
Enrollment                  0
Funder Type                 0
Study Type                  0
count                       0
gender                      0
healthy_volunteers          0
adult                       0
child                       0
older_adult                 0
nct_id                 120390
event_type             120390
subjects_affected      120390
subjects_at_risk       120390
event_count            120390
organ_system           120390
frequency_threshold    120390
assessment             120390
dtype: int64

In [100]:
# Drop duplicate rows
df_merged4_1.drop_duplicates(subset=None, keep='first', inplace=True)

In [101]:
# Display the shape of the dataset to track changes
df_merged4_1.shape

(2431247, 22)

In [102]:
df_merged4_1.dropna(inplace=True)

In [103]:
# Drop irrelevant columns to streamline the dataset
df_merged4_1.drop(['nct_id'],axis=1,inplace=True)

In [104]:
# Identify and handle duplicate rows
df_merged4_1[df_merged4_1.duplicated].shape

(0, 21)

In [105]:
df_merged4_1['Study Status'].value_counts()

Study Status
COMPLETED     1957866
TERMINATED     352950
SUSPENDED          41
Name: count, dtype: int64

## **Export Merged Datasets**
---
- After cleaning and merging, the processed dataset is exported in a suitable format (e.g., CSV or Excel) for downstream tasks such as visualization or model training.
- This ensures the prepared data is ready for further use in the project.

In [107]:
# Save the merged dataset
df_merged4_1.to_csv('train.csv')

In [109]:
# Load dataset
pd.read_csv('train.csv').head()

,Unnamed: 0,NCT Number,Study Status,Study Results,Sex,Age,Enrollment,Funder Type,Study Type,count,...,adult,child,older_adult,event_type,subjects_affected,subjects_at_risk,event_count,organ_system,frequency_threshold,assessment
0,27,NCT02572570,TERMINATED,YES,ALL,"ADULT, OLDER_ADULT",27.0,OTHER,INTERVENTIONAL,27.0,...,t,f,t,other,1.0,27.0,1.0,"Injury, poisoning and procedural complications",0.0,SYSTEMATIC_ASSESSMENT
1,30,NCT02572570,TERMINATED,YES,ALL,"ADULT, OLDER_ADULT",27.0,OTHER,INTERVENTIONAL,27.0,...,t,f,t,other,2.0,27.0,2.0,"Injury, poisoning and procedural complications",0.0,SYSTEMATIC_ASSESSMENT
2,36,NCT02572570,TERMINATED,YES,ALL,"ADULT, OLDER_ADULT",27.0,OTHER,INTERVENTIONAL,27.0,...,t,f,t,other,1.0,27.0,1.0,Gastrointestinal disorders,0.0,SYSTEMATIC_ASSESSMENT
3,39,NCT02572570,TERMINATED,YES,ALL,"ADULT, OLDER_ADULT",27.0,OTHER,INTERVENTIONAL,27.0,...,t,f,t,other,1.0,27.0,1.0,Infections and infestations,0.0,SYSTEMATIC_ASSESSMENT
4,42,NCT02572570,TERMINATED,YES,ALL,"ADULT, OLDER_ADULT",27.0,OTHER,INTERVENTIONAL,27.0,...,t,f,t,other,1.0,27.0,1.0,Musculoskeletal and connective tissue disorders,0.0,SYSTEMATIC_ASSESSMENT

## **Results and Observations**
---
After preprocessing, the following key metrics were observed:
- Number of rows before and after cleaning
- Total missing values handled
- Summary of merged datasets

## **Limitations**
---
- Potential issues with incomplete merging due to missing IDs.
- Further analysis required to validate data integrity.

# **Conclusion**
---
This notebook demonstrates the importance of data preprocessing as a foundational step in ensuring the dataset is clean, consistent, and ready for analysis. By effectively handling duplicates, missing values, and integrating multiple datasets, the data has been transformed into a high-quality, structured format. The cleaned and merged dataset is now well-prepared for modeling, enabling accurate analysis and meaningful insights to drive data-driven decision-making.

---